.pagination {
    float: left;
    position: relative;
    left: 50%;
    margin: 8px auto 0;
}
.pagination .page-links {
    position: relative;
    left: -50%;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    background-color: #fff;
    padding: 0 8px;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0,37,55,.06);
}
.pagination .page-link {
    display: block;
    float: left;
    width: 34px;
    height: 34px;
    margin: 6px;
    font-size: 16px;
    color: #a9b0bc;
    line-height: 34px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.pagination #page-link-container {
    display: inline-block;
    float: left;
}
.pagination .active {
    color: #8f98aa;
    background-color: #eef0f4;
}